BODY {
    background: linear-gradient(90deg, rgb(44,44,44), rgb(45,45,45) 45%, rgb(40,40,40) 50%);
    background-size: 3em 3em;
    background-color: black;
    padding-top: 50px;
    font-family: "Malgun Gothic";
}

div {
    padding-top: 20px;
    padding-bottom: 20px;
}

h1{
    color: #373435;
    margin-top: 10px;
    margin-bottom: 10px;
}

p {
    color: #817e7f;
    margin-top: 10px;
    margin-bottom: 10px;
}

footer {
    color: #c5c5c5;
    text-align: center;
    margin-bottom: 50px;
}

div.read-more {
    padding: 0px;
    width: 155px;
    position: relative;
    margin-top: -29px;
    background-color: #ebebeb;
}

hr {
    margin: 0px 30px 20px 30px;
}

hr.double-line {
    margin: 6px 30px 0px 30px;
    padding: 3px;
    border-top: 1px solid #c2c2c2;
    border-bottom: 1px solid #c2c2c2;
    border-left: none;
}

a {
    color: #909090;
    text-decoration: none;
}

.active {
    color: red;
}

.bottom-border {
    margin-right: 30px;
    margin-left: 30px;
    padding-bottom: 50px;
    border-bottom: 1px solid #c2c2c2;
}

.logo {
    background-color: #ebebeb;
    border-radius: 5px;
    width: 200px;
    margin-top: -65px;
    margin-bottom: 20px;
    margin-right: auto;
    margin-left: auto;
    position: relative;
    padding: 25px;
    box-shadow: -7px 10px rgba(0, 0, 0, 0.1);
    font: bold 30px 'Malgun Gothic';
    letter-spacing: 3px;
    text-align: center;
    z-index: 9999;
}

.background-div {
    width: 1230px;
    background-color: #ebebeb;
    border-radius: 5px;
    margin: 50px auto 30px auto;
    padding-bottom: 80px;
}

.menu-item {
    margin-right: 20px;
    margin-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #d2d2d2;
    border-top: 1px solid #d2d2d2;
    border-left: none;
    border-right: none;
    background-color: inherit;
    display: inline-block;
}

.main-image {
    border-top-left-radius: 11px;
    border-bottom-left-radius: 11px;
    border-bottom-right-radius: 11px;
    box-shadow: -10px 10px rgba(0, 0, 0, 0.1);
}

button.red-button {
    height: 40px;
    padding: 5px 20px 5px 20px;
    border: 0px;
    border-radius: 5px;
    box-shadow: -5px 5px rgba(0, 0, 0, 0.1);
    font: bold 15px 'Malgun Gothic';
    background-color: #ed3237;
    color: #ebebeb;
    text-align: center;
}

.transparent-button {
    background-color: #ebebeb;
    border: 1px solid #cecece;
    border-radius: 5px;
    height: 40px;
    margin: 5px;
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
    box-shadow: -5px 5px rgba(0, 0, 0, 0.1);
    font: bold 15px 'Malgun Gothic';
    text-align: center;
}

.p-products {
    color: #ed3237;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 0px;
}

.info-line:before, .info-line:after {
    content: '';
    display: table;
}
.info-line:after {
    clear: both;
}





/*НЕ ИСПОЛЬЗУЕМЫЕ СТИЛИ*/