BODY {
    background: linear-gradient(90deg, rgb(44,44,44) 50%, rgb(50,50,50) 50%,rgb(50,50,50) 55%, rgb(40,40,40) 55%);
    background-size: 40px 40px;
    background-color: black;
    padding-top: 39px;
    font-family: "Source Sans Pro";
    text-align: center;
}

nav {
    padding: 20px 0 20px 0 ;
}

h1{
    color: #373435;
    margin-top: 12px;
    margin-bottom: 7px;
    font-size: 31px;
    letter-spacing: 3px;
}

p.main-text {
    color: #817e7f;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 19px;
    letter-spacing: 1px;
    line-height: 1.2;
}

.main-info-block {
    margin: 50px 0 45px 0;
}

footer {
    color: #c5c5c5;
    text-align: center;
    margin-bottom: 50px;
}

div.read-more {
    padding: 0;
    width: 155px;
    position: relative;
    margin: -31px auto 0 auto;
    background-color: #ebebeb;
}

a {
    color: #909090;
    text-decoration: none;
}

.active {
    color: red;
}

img + div.main-info-block {
    margin: 40px 0 70px 0;
    /*margin-bottom: 70px;*/

}

.single-line {
    margin: 50px 30px 0 30px;
    border: none;
    border-bottom: 1px solid #c2c2c2;
}

.double-line {
    margin: 8px 30px 0px 30px;
    padding: 4px;
    border-top: 1px solid #c2c2c2;
    border-bottom: 1px solid #c2c2c2;
    border-left: none;
}

.logo {
    position: relative;
    width: 210px;
    height: 55px;
    margin: 5px auto -60px auto;
    padding: 25px;
    border-radius: 5px;
    background-color: #ebebeb;
    box-shadow: -10px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    letter-spacing: 3px;
    z-index: 9999;
}

.gray-background {
    display: inline-block;
    text-align: center;
    max-width: 1230px;
    min-width: 450px;
    width: 95%;
    background-color: #ebebeb;
    border-radius: 5px;
    margin: 0 auto 30px auto;
    padding: 82px 0 53px 0;
}

.menu-item {
    margin-right: 22px;
    margin-left: 22px;
    padding-top: 9px;
    padding-bottom: 9px;
    border-bottom: 1px solid #d2d2d2;
    border-top: 1px solid #d2d2d2;
    border-left: none;
    border-right: none;
    background-color: inherit;
    display: inline-block;
    letter-spacing: 1px;
}

.menu-item:hover {
    color: red;
}

.main-image {
    margin: 20px 8px 20px 0;
    border-top-left-radius: 13px;
    border-bottom-left-radius: 13px;
    border-bottom-right-radius: 13px;
    box-shadow: -10px 10px rgba(0, 0, 0, 0.1);
}

button {
    height: 38px;
    letter-spacing: 2px;
    font-size: 12px;
}

.red-button {
    width: 118px;
    border: 0px;
    border-radius: 5px;
    box-shadow: -4px 4px rgba(0, 0, 0, 0.1);
    font-weight: bold;
    background-color: #ed3237;
    color: #ebebeb;
    text-align: center;

}

.red-button:hover {
    background-color: #ebebeb;
    color: black;
    border: 1px solid #cecece;
    cursor: pointer;
}

.gray-button {
    background-color: #ebebeb;
    border: 1px solid #cecece;
    border-radius: 5px;
    margin: 5px;
    padding: 5px 20px 5px 20px;
    box-shadow: -5px 5px rgba(0, 0, 0, 0.1);
    font-weight: bold;
    text-align: center;
}

.gray-button:hover {
    background-color: #ed3237;
    color: #ebebeb;
    cursor: pointer;
}

.p-products {
    color: #ed3237;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 0px;
}

.red-color-for-chevron {
    color: #ed3237;
}

.info-line:before, .info-line:after {
    content: '';
    display: table;
}
.info-line:after {
    clear: both;
}